.navConteiner{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}
.sectionPart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-right: 40px;

}

.buttonPart{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}
.button, .activeButton {
    text-transform: uppercase;
    background-color: #f2f2f2;
    font-weight:500 ;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 90px;
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    transition: .5s;

}

.button:hover ,
.activeButton:hover{
    background-color: #717fe0;
    color: white;
}




.activeButton::before{
    content: "";
    position: absolute;
    display: block;
    width: 14px;
    height: 14px;
    background-color: #f2f2f2;
    border-left: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    transform-origin: center center;
    transform: rotate(-45deg);
    left: calc(50% - 7px);
    bottom: -8px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.5s;
}

.activeButton:hover::before{
    background-color: #717fe0;
    color: #717fe0;

}



